/*  your css code here. If applicable */
td ,th {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
}
  /* Apply to data rows only (skip header) */
    tr:nth-child(odd):not(:first-child) td {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) td {
      background-color: #ffffff;
    }